header{
    flex-direction: column;
    align-items: center;
}
nav{
    width: 100%;
}
nav a{
    width: 50%;
    border-top: none;
    border-bottom: 5px solid #f2f2f2;
}
nav a:hover{
    border-top: none;
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
}
.active{
    border-top: none;
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
    border-top: none;
}
#filtres{
    flex-direction: column;
    align-items: flex-start;
}
.filtre{
    margin: 5px 0;
}
.filtres-container{
    margin-top: 10px;
    width:100%;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main-container{
    flex-direction: column;
    padding: 5px;
}
.grey-panel
{
    padding: 5px;
}
#hebergements{
    width: 100%;
    order: 1;
}
#populaires{
    width: 100%;
    margin-bottom: 20px;
}
#populaires-container{
    display: flex;
    flex-direction: row;
}
#populaires-container .card{
    width: 33.333%;
}
.horizontal .card-infos{
    padding-left: 5px;
}
.more{
    height: auto;
}
#activites-container{
    height: 1300px;
}
#activites article{
    width: 50%;
}
.full{
    height: 50%;
}
.great{
    height: 30%;
}
.medium{
    height: 25%;
}
.small{
    height: 20%;
}
#move{
    order: 1;
}
